/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    margin:0px;
    padding:0px;
    /*text-transform:uppercase;*/
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


/* appli */

/* fonts */
@font-face {
    font-family: "Raleway";
    src: url("../font/Raleway-Regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("../font/Raleway-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "Raleway-SemiBold";
    src: url("../font/Raleway-SemiBold.otf");
    font-weight: normal;
}

@font-face {
    font-family: "Raleway-Medium";
    src: url("../font/Raleway-Medium.otf");
    font-weight: normal;
}


/*  Styles for all devices */

/* global styles */
body, html {
    background-color: #FFF;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 16px;
    color: #333;
    letter-spacing: -0.02em;
    font-weight: normal;
    overflow-x: hidden;
}

h2 {
    text-transform: uppercase;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

h2 {
    margin: 0;
}

.clearfix {
    clear: both;
}

.list-item {
    border-top: 1px solid #a6a6a6;
}


/* appli slides behavior */
#app-nav, #app-content > header {
    position: relative;
    z-index: 5;
}

#app-body-wrapper {
    position: relative;
    width: 3000px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

#app-body-wrapper > .level {
    float: left;
}

#app-body-wrapper > .level > section {
    width: 320px;
}

#app-body-wrapper.level-0 {
    -webkit-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0);
}

#app-body-wrapper.level-1 {
    -webkit-transform: translate3D(-320px, 0, 0);
    transform: translate3D(-320px, 0, 0);
}

#app-body-wrapper.level-2 {
    -webkit-transform: translate3D(-640px, 0, 0);
    transform: translate3D(-640px, 0, 0);
}

#app-body-wrapper.level-3 {
    -webkit-transform: translate3D(-960px, 0, 0);
    transform: translate3D(-960px, 0, 0);
}

/*the back button*/
.back {
    display: inline-block;
}

.back > svg {
    width: 20px;
    height: 20px;
}

/*the forth button*/
.forth {
    float: right;
    width: 20px;
    height: 20px;
    fill: #a6a6a6;
}

/*news' categories tags colors*/
.category {
    text-transform: uppercase;
    color: #FFF;
}

.evenements {
    background-color: #6d009a;
}

.autres {
    background-color: #fd671a;
}

/* sprites */
.sprite {
    display: inline-block;
    width: 66px;
    height: 66px;
    background-image: url("../img/sprite.png");
}

.sprite.i1 {
    background-position: -30px -29px;
}

.sprite.i2 {
    background-position: -30px -126px;
}

.sprite.i3 {
    background-position: -30px -216px;
}

.sprite.d15 {
    background-position: -128px -28px;
}

.sprite.d1530 {
    background-position: -220px -28px;
}

.sprite.d30 {
    background-position: -128px -127px;
}

.sprite.d3045 {
    background-position: -220px -127px;
}

.sprite.d45 {
    background-position: -128px -219px;
}

.sprite.d4560 {
    background-position: -220px -219px;
}

.sprite.d60 {
    background-position: -128px -320px;
}

.sprite.d6090 {
    background-position: -220px -320px;
}

.sprite.d120 {
    background-position: -220px -416px;
}

.sprite.cardio {
    background-position: -4px -875px;
    width: 47px;
    height: 33px;
}

.sprite.mouvement {
    background-position: -4px -826px;
    width: 37px;
    height: 42px;
}

.sprite.tendance {
    background-position: -4px -914px;
    width: 39px;
    height: 26px;
}

.sprite.activity {
    background-position: -85px -946px;
    width: 20px;
    height: 20px;
}

.sprite.subscription {
    background-position: -45px -974px;
    width: 22px;
    height: 22px;
}

.sprite.credit {
    background-position: -6px -972px;
    width: 22px;
    height: 22px;
}

/* delete button in searchbars */
.delete {
    position: absolute;
    z-index: 1;
    top: 1px;
    right: 2px;
}

.delete > svg {
    width: 12px;
    height: 12px;
    fill: #CCC;
}

/* orange search bar, contains a search field & other stuffs */
.search-bar {
    background-color: #fd671a;
    height: 40px;
    line-height: 40px;
}

.search-bar > .search-container {
    display: inline-block;
    position: relative;
}

.search-bar .search {
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 1px;
    width: 22px;
    height: 29px;
}

.search-bar .search > svg {
    width: 13px;
    height: 20px;
    padding-left: 4px;
    fill: #999;
}

.search-bar .search-field {
    position: relative;
    width: 179px;
    height: 18px;
    padding: 0 12px 0 22px;
    top: -2px;
    font-size: 12px;
    font-family: "Raleway-Medium", Arial, sans-serif;
}

.search-bar .search-field::-webkit-input-placeholder {
    color: #999;
}

.search-bar > .locate {
    display: inline-block;
    width: 52px;
}

.search-bar > .locate > svg {
    position: relative;
    width: 20px;
    height: 20px;
    top: 4px;
    left: 10px;
    fill: #FFF;
}

/*nav bar ontop of some pages the "heading", with back button; 3 types: default & small & double titles*/
.heading {
    height: 30px;
    background-color: #d6d5d5;
}

.heading > .back {
    width: 39px;
    height: 100%;
}

.heading > .back > svg {
    position: relative;
    top: 5px;
    right: -7px;
    fill: #333;
}

.heading h2 {
    display: inline-block;
    width: 231px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.heading .type {
    margin-right: 3px;
}

.heading > .circle {
    display: inline-block;
    width: 14px;
    height: 14px;
    position: relative;
    right: -19px;
    top: 2px;
    background-color: #6f655f;
    border-radius: 50%;
}

.heading > .circle > svg {
    position: relative;
    left: 2px;
    top: -3px;
    width: 11px;
    height: 11px;
    fill: #FFF;
}

.heading.small {
    height: 40px;
    line-height: 40px;
    background-color: #f2f2f2;
}

.heading.small > h2 {
    font-size: 11px;
    text-transform: none;
    color: #999;
}

.heading.double > a, .heading.double > .headers {
    float: left;
}

.heading.double > .headers {
    line-height: 7px;
    text-align: center;
}

.heading.double > .headers > h2 {
    margin-top: 10px;
    font-size: 11px;
    text-transform: none;
    color: #999;
}

.heading.double > .headers > h3 {
    margin: 8px 0 0;
    font-family: "Raleway";
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

/* time carousel */
.time-caroussel {
    position: relative;
    z-index: 0;
    background-color: #fd671a;
    height: 53px;
    color: #FFF;
    padding-top: 10px;
}

.time-caroussel > ul {
    font-size: 14px;
    margin-left: 37px;
}

.time-caroussel li {
    position: relative;
    font-family: "Raleway";
    font-weight: bold;
    float: left;
    margin-right: 30px;
}

.time-caroussel li.current {
    color: #fd671a;
}

.time-caroussel li.current > span:first-child {
    position: absolute;
    z-index: -1;
    top: -2px;
    left: -4px;
    width: 20px;
    height: 20px;
    background-color: #FFF;
    border-radius: 50%;
}

.time-caroussel > a, .time-caroussel > h3 {
    float: left;
}

.time-caroussel > a {
    display: inline-block;
    width: 21px;
    height: 31px;
    padding: 10px 5px 0;
}

.time-caroussel > .prev {
    margin-left: 3px;   
}

.time-caroussel > h3 {
    width: 78%;
    position: relative;
    top: -3px;
    text-align: center;
    font-size: 13px;
    font-weight: normal;
}

.time-caroussel svg {
    width: 16px;
    fill: #FFF;
}

/* list items general style */
/*shedule link*/
.item-schedule {
    display: inline-block;
    width: 43px;
    height: 42px;
}

.item-schedule > .circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 3px;
    line-height: 30px;
    background-color: #fd671a;
    border-radius: 50%;
}

.item-schedule > .circle > svg {
    position: relative;
    top: 4px;
    left: 5px;
    width: 21px;
    height: 21px;
    fill: #FFF;
}

/* list of activty details complete */
.activity-details-complete {
    height: 59px;
    padding-top: 4px;
}

.activity-details-complete > .activity-details-wrapper {
    display: inline-block;
    width: 165px;
    position: relative;
    top: -8px;
    z-index: 2;
}

.activity-details-complete > .heure, .activity-details-complete .name {
    font-size: 14px;
}

.activity-details-complete > .heure {
    display: inline-block;
    width: 34px;
    position: relative;
    top: -17px;
    color: #fd671a;
    margin-left: 5px;
    margin-right: 5px;
}

.activity-details-complete .name {
    display: block;
    margin-bottom: -3px;
    font-family: "Raleway";
    font-weight: bold;
}

.activity-details-complete .niveau {
    font-size: 14px;
    color: #999;
}

.activity-details-complete .type, .activity-details-complete .club {
    font-size: 13px;
    color: #fd671a;
}

.activity-details-complete .type {
    text-transform: uppercase;
}

.activity-details-complete > .sprite {
    position: relative;
    top: -4px;
    height: 48px;
}

.activity-details-complete .activity-details-wrapper  + .sprite {
    z-index: 1;
    margin-left: -19px;
    margin-right: -15px;
}

.activity-details-complete .sprite + .sprite {
    z-index: 2;
}

/*list of activities*/
.list-activities  {
    font-family: "Raleway", Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 7px;
}

.list-activities > .list-item {
    height: 62px;
    line-height: 62px;
}

.list-activities .activity-details {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.list-activities .activity-details > .name {
    margin-left: 20px;
}

.list-activities .forth {
    margin-top: 21px;
}

/* list of clubs */

.list-clubs .club-details {
    display: inline-block;
    padding: 20px 0 20px 16px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.list-clubs .club-details-wrapper {
    display: inline-block;
    position: relative;
    top: 3px;
    width: 205px;
    overflow: hidden;
}

.list-clubs .type {
    color: #fd671a;
}

.list-clubs .name {
    white-space: nowrap;
}

.list-clubs .see-more {
    display: inline-block;
    height: 59px;
    width: 305px;
    padding-left: 15px;
    line-height: 59px;
    font-size: 13px;
    font-weight: bold;
}

.list-clubs .distance {
    display: inline-block;
    width: 47px;
    position: relative;
    top: -2px;
    text-align: right;
    font-family: "Raleway-Medium", Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    text-transform: lowercase;
}

/* main app styles */

#app-content {
    width: 320px;
    /* offcanvas behavior */
    margin-left: 0;
    -webkit-transition: margin-left ease-out 500ms;
}

#app-nav {
    width: 250px;
    height: 462px;
    background-color: #6f655f;
    color: #FFF;
    /* offcanvas behavior */
    position: absolute;
    
    
    margin-left: 0;
    -webkit-transition: margin-left ease-out 500ms;
}

/* offcanvas behaviors */
#app-nav.off {
    margin-left: -250px;
}

#app-content.off {
    margin-left: 250px;
}

/* app-nav */
.tab {
    display: inline-block;
    width: 93%;
    height: 43px;
    margin-left: 17px;
    line-height: 43px;
}

.tab > svg {
    width: 21px;
    height: 21px;
    fill: #FFF;
    display: inline-block;
    vertical-align: middle;
}

.tab > span {
    font-size: 15px;
    color: #FFF;
    margin-left: 5px;
}

#app-nav h2 {
    font-size: 12px;
    padding: 0 8px;
    background-color: #4a413b;
    color: #a3a3a3;
}

/* icons size & position */

#app-nav .home > svg {
    position: relative;
    top: -3px;
    right: 1px;
}

#app-nav .clubs > svg {
    position: relative;
    right: 2px;
}

#app-nav .activity {
    background-position: -59px -946px;
    position: relative;
    top: 2px;
    right: 1px;
}

#app-nav .actualities > svg {
    position: relative;
    top: -1px;
    right: 6px;
    height: 31px;
    width: 30px;
}

#app-nav .subscription {
    position: relative;
    top: 4px;
    right: 3px;
}

#app-nav .infos > svg {
    position: relative;
    right: 2px;
    top: -1px;
    width: 18px;
    height: 18px;
}

#app-nav .credit {
    position: relative;
    top: 5px;
    right: 3px;
}


/* texts position */

#app-nav .activities > span {
    position: relative;
    right: -1px;
}

#app-nav .actualities > span {
    position: relative;
    right: 8px;
}

#app-nav .subscriptions > span {
    position: relative;
    right: 1px;
}

#app-nav .infos > span {
    position: relative;
    right: -2px;
}

#app-nav .credits > span {
    position: relative;
    right: 2px;
}

/* app-header */

#app-header {
    height: 35px;
    background-color: #FFF;
    padding-top: 8px;
}

#app-header > li {
    float: left;
}

#menu, #login {
    width: 9%;
}

#menu > a {
    position: relative;
    left: 16px;
}

#login > a {
    position: relative;
    right: 12px;
    top: 2px;
}

#menu svg, #login svg {
    fill: #333;
}

#menu svg {
    width: 26px;
    height: 27px;
}

#login svg {
    width: 22px;
    height: 22px;
}

#logo-container {
    width: 82%;
}

#logo-container > div {
    margin: 0 auto;
    width: 63px;
    height: 29px;
    background-image: url("../img/logo.gif");
}

/* home */
#app-footer {
    height: 52px;
    margin-top: -3px;
    background-color: #f5f5f5;
}

#app-footer > li {
    float: left;
    margin-top: 7px;
    width: 25%;
}

.home-button-wrapper {
    width: 50%;
    margin: 0 auto;
}

.home-button-wrapper > svg {
    display: block;
    width: 60%;
    height: 60%;
    margin: 0 auto;
    fill: #333;
}

.home-button-wrapper > h2 {
    margin: 4px 0;
    position: relative;
    text-align: center;
    font-family: "Raleway-SemiBold", Arial, sans-serif;
    text-transform: none;
    font-size: 9px;
    color: #333;
}

#home-label {
    top: 0;
}

#activity-large-label {
    top: -7px;
    left: -4px;
}

#search-label {
    right: 8px;
    top: 0;
}

#subscription-label {
    top: -7px;
    right: 16px;
}

.sprite.activity-large, .sprite.subscription-large {
    width: 31px;
    height: 28px;
}

.sprite.activity-large {
    background-position: -115px -942px;

}

.sprite.subscription-large {
    background-position: -115px -912px;
}

/* club */

/*club carousel, alert, description*/
#club-alert {
    position: absolute;
    height: 32px;
    width: 320px;
    background-color: rgba(136, 131, 127, 0.79);
    text-align: center;
    letter-spacing: 0em;
    color: #FFF;
}

#club-alert > h3 {
    margin: 3px 0 -6px;
    font-size: 11px;
    text-transform: uppercase;
}

#club-alert > span {
    font-size: 11px;
    font-family: "Raleway-Medium";
    margin-bottom: 3px;
}

#club-description {
    position: absolute;
    width: 280px;
    height: 227px;
    padding: 24px 20px;
    overflow: scroll;
    font-family: "Raleway-Medium";
    letter-spacing: 0.04em;
    font-size: 11px;
    color: #FFF;
    background-color: rgba(136, 131, 127, 0.91);
}

#club-description > h2, #club-description > h3, #club-description > p {
    font-size: 11px;
}

#club-description > h2, #club-description > h3 {
    font-family: "Raleway";
    font-weight: bold;
}

#club-description > h3 {
    margin: 7px 0 24px;
}

#club-description > p {
    margin: 5px 0;
}

#club-carousel {
    height: 275px;
}

#club-contact {
    padding: 14px 17px;
    background-color: #cdcdcd;
    letter-spacing: 0em;
    font-size: 12px;
}

#club-contact > div:first-child, #club-contact > a {
    float: left;
}

#club-contact > div:first-child {
    width: 214px;
    padding-right: 5px;
}

#club-contact h2 {
    margin-bottom: 4px;
    font-size: 15px;
}

#club-contact .type {
    margin-right: 3px;
}

#club-contact .name {
    text-transform: none;
}

#club-contact > .circle {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    background-color: #ff6633;
}

#club-contact svg {
    position: relative;
    top: 6px;
    left: 6px;
    width: 16px;
    height: 16px;
    fill: #FFF;
}

#club-contact > .pin {
    margin-left: 9px;
}

#club-contact > .pin > svg {
    top: 4px;
    left: 4px;
    width: 20px;
    height: 20px;
}

#club-links > .list-item {
    height: 60px;
    line-height: 60px;
}

#club-links .activity {
    margin: 16px 10px 0 20px;
}

#club-links .activity, #club-links span {
    float: left;
}

#club-links svg:first-child {
    float: left;
    width: 20px;
    height: 20px;
    margin: 20px;
    margin-right: 11px;
    fill: #fd671a;
}

#club-links span {
    font-size: 14px;
    font-weight: bold;
}

#club-links .forth {
    margin-top: 20px;
    margin-right: 6px;
}

#club-schedules {
    padding: 9px 20px 20px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: #FFF;
    background-color: #6c635e;
}

#club-schedules > h2 {
    margin: 13px 0 5px;
    font-size: 14px;
}

#club-schedules > ul {
    font-size: 11px;
}

.club-news > a {
    display: inline-block;
    height: 82px;
    width: 297px;
    padding: 17px 0 17px 23px;
}

.club-news img, .club-news span {
    float: left;
}

.club-news span {
    width: 125px;
    margin-left: 14px;
    font-size: 12px;
}

.club-news .category {
    width: auto;
    padding: 0 5px;
    margin: 16px 0 5px;
    font-size: 7px;
    letter-spacing: 0.02em;
}

.club-news .name {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
}

.club-news .forth {
    height: 20px;
    margin: 33px 6px 0 0;
}

/* search_club */

/* nav bar */

#search-club .back {
    width: 42px;
}

#search-club .back > svg {
    position: relative;
    top: 4px;
    right: -12px;
    fill: #FFF;
}


/* fiche activite */

#activity {
    letter-spacing: 0em;
}

#activity > .heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}

#activity-description {
    width: 288px;
    padding: 16px 16px 7px;
    font-size: 11px;
    background-color: #d6d5d5;
}

#activity-description > .type-activity {
    margin-bottom: 22px;
}

#activity-description > .intensite, #activity-description > .duree {
    float: right;
}

#activity-description > .duree {
    margin-left: 10px;
}

#activity-schedule {
    background-color: #6f655f;
    color: #FFF;
}

#activity-schedule > h2 {
    padding: 6px;
    padding-left: 20px;
    font-size: 15px;
    box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.28);
}

#activity-schedule .list-item {
    font-size: 10px;
    height: 60px;
}

#activity-schedule .list-item:first-child {
    border-top: none;
}

#activity-schedule .list-item:last-child {
    height: auto;
    box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.28);
}

#activity-schedule .list-item:last-child > a {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 20px;
    color: #FFF;
}

#activity-schedule .forth {
    fill: #FFF;
    margin-top: 10px;
}

#activity-schedule .heure {
    font-weight: bold;
    font-size: 11px;
}

#activity-schedule .type, #activity-schedule .name {
    color: #fd671a;

}

#activity-schedule .type {
    text-transform: uppercase;
    margin-right: 4px;
}

#activity-schedule .duree {
    float: right;
    margin-right: 15px;
    line-height: 60px;
}

#activity-schedule .duree + div {
    position: relative;
    top: 25%;
    left: 20px;
}

#activity-benefice, #activity-muscle {
    padding: 10px 18px;
    font-size: 12px;
}

#activity-benefice > h2, #activity-muscle > h2 {
    color: #fd671a;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
}

#activity-benefice > ul, #activity-muscle > ul {
    list-style: disc;
    padding-left: 15px;
}

#activity-benefice li, #activity-muscle li {
    margin-bottom: 5px;
}



/* search activity/activity list */
#search-activity {
    font-family: "Raleway-Medium", Arial, sans-serif;
    font-weight: normal;
}

.by-type-activity {
    position: relative;
    right: -15px;
    top: -2px;
    padding: 5px 9px;
    background-color: #FFF;
    font-size: 11px;
    color: #333;
}

#search-activity .search-container, #search-club-activity .search-container {
    margin-left: 25px;
}

#search-activity > ul {
    font-family: "Raleway", Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 7px;
}

#search-activity .list-item {
    height: 62px;
    line-height: 62px;
}

/* list activities: ACTIVITIES */
#search-activity .activity-details {
    display: inline-block;
    width: 272px;
    height: 100%;
}

#search-activity .activity-details > .name {
    margin-left: 20px;
}

#search-activity .item-schedule {
    display: inline-block;
    width: 44px;
    height: 100%;
}

#search-activity .item-schedule > .circle {
    position: relative;
    top: 2px;
}

#search-activity .item-schedule > .circle > svg {
    left: 4px;
}

/* list activities: TYPE_ACTIVITIES */
#list-type-activities a {
    display: inline-block;
    width: 100%;
}

#list-type-activities a > span:first-child {
    position: relative;
    display: inline-block;
    width: 67px;
}

#list-type-activities svg {
    width: 20px;
    height: 20px;
    margin-left: 22px;
    margin-right: 15px;
    fill: #fd671a;
}

/*precisely transform each icons*/
#list-type-activities .danse svg {
    position: relative;
    top: 6px;
    right: -10px;
}

#list-type-activities .force svg {
    position: relative;
    width: 22px;
    height: 22px;
    top: 7px;
    right: -4px;
}

#list-type-activities .piscine svg {
    position: relative;
    top: 6px;
    right: -5px;
}

#list-type-activities .sprite.cardio {
    position: absolute;
    top: -22px;
    right: 10px;
}

#list-type-activities .sprite.mouvement {
    position: absolute;
    top: -27px;
    right: 17px;
}

#list-type-activities .sprite.tendance {
    position: absolute;
    top: -18px;
    right: 6px;
}

/* list activities: picked typed activity */
#picked-type-activity {
    position: relative;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    background-color: #6f655f;
    font-family: "Raleway-Medium", Arial, sans-serif;
    font-size: 12px;
    color: #FFF;
}

#picked-type-activity > .delete {
    float: right;
    height: 19px;
    padding: 10px 5px 0;
    margin-right: 14px;
}

#picked-type-activity > .delete > span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFF;
}

#picked-type-activity > .delete svg {
    display: inline-block;
    position: relative;
    top: -7px;
    left: -3px;
    width: 16px;
    height: 16px;
    fill: #988f8a;
}

/* search activity-schedule */
#search-activity-schedule {
    font-family: "Raleway-Medium", Arial, sans-serif;
    font-weight: normal;
}

#search-activity-schedule > .search-bar {
    padding-left: 47px;
}

#search-activity-schedule > ul {
    font-size: 12px;
}

#search-activity-schedule > ul .sprite {
    height: 48px;
}

#search-activity-schedule .schedule-details {
    height: 62px;
}

#search-activity-schedule .schedule-details-wrapper {
    display: inline-block;
    margin-left: 22px;
    width: 169px;
    position: relative;
    top: 2px;
}

#search-activity-schedule .schedule-details-wrapper > .heure {
    display: block;
    font-family: "Raleway";
    font-weight: bold;
}

#search-activity-schedule .schedule-details-wrapper > .niveau {
    display: block;
    color: #999;
}

#search-activity-schedule .schedule-details-wrapper > .type, #search-activity-schedule .schedule-details-wrapper > .name {
    color: #fd671a;
}

#search-activity-schedule .schedule-details-wrapper > .type {
    text-transform: uppercase;
}

#search-activity-schedule .distance {
    display: inline-block;
    width: 38px;
    position: relative;
    top: -15px;
    text-align: right;
}

/* search club activity */
#search-club-activity {
    font-family: "Raleway-Medium", Arial, sans-serif;
    font-weight: normal;
}

/* search club schedule */
#search-club-schedule {
    font-family: "Raleway-Medium", Arial, sans-serif;
    font-weight: normal;
}

#search-club-schedule > ul {
    padding-bottom: 1px;
}

#down-pdf {
    display: inline-block;
    height: 55px;
    width: 100%;
    line-height: 55px;
    background-color: #635a54;
    font-family: "Raleway-SemiBold", Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    color: #FFF;
}

/* search all */
#search-all {
    font-family: "Raleway-Medium", Arial, sans-serif;
    font-weight: normal;
}

#search-all .activity-details-complete {
    position: relative;
}

#search-all .activity-details-wrapper {
    top: 6px;
    height: 50px;
    width: 164px;
    position: absolute;
}

#search-all .niveau {
    display: block;
}

#search-all .activity-details-wrapper + .sprite {
    margin-left: 150px;
}

#search-all > .tabs {
    background-color: #6f655f;
    border-top: 1px solid #bcb7b4;
    border-bottom: 1px solid #FFF;
    font-family: "Raleway";
    font-weight: bold;
    letter-spacing: 0.02em;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}

#search-all > .tabs > li {
    float: left;
}

#search-all > .tabs a {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 106px;
    color: #FFF;
}

#type-activities {
    padding-right: 2px;
}

#search-activities .search-container {
    width: 285px;
    left: 17px;
}

#search-activities .search-field {
    width: 247px;
}

#search-clubs .search-container {
    width: 250px;
    left: 17px;
    margin-right: 23px;
}

#search-clubs .search-field {
    width: 213px;
}

#search-clubs .locate {
    width: 42px;
}

#search-clubs .club-details-wrapper {
    width: 213px;
    font-family: "Raleway";
    font-weight: bold;
    letter-spacing: -0.3199999928474426px;
}

#search-clubs .see-more {
    font-family: "Raleway";
    font-weight: bold; 
}

#search-schedules > header {
    height: 40px;
    line-height: 40px;
    background-color: #fd671a;
}

#search-schedules > header > h2 {
    font-size: 13px;
    font-weight: normal;
    color: #FFF;
    text-align: center;
    text-transform: none;
}


/* abonnements */

#subscriptions {
    font-family: "Raleway-Medium", Arial, sans-serif;
    font-weight: normal;
}

#subscriptions .content {
    border-bottom: 1px solid #a6a6a6;
}

#subscriptions .link {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
}

#subscriptions .sprite, #subscriptions .description {
    float: left;
}

#subscriptions .sprite {
    margin: 0 19px 0 15px;
}

#subscriptions .name, #subscriptions .price {
    font-family: "Raleway";
    font-weight: bold;
    letter-spacing: 0em;
}

#subscriptions .name {
    font-size: 14px;
    color: #fd671a;
}

#subscriptions .price {
    margin: 6px 0;
    font-size: 13px;
    color: #6f655f;
}

#subscriptions .details {
    letter-spacing: 0em;
    list-style: disc;
    padding-left: 15px;
    font-size: 12px;
}


/* liste des actualités, ou news */

#news-list {
    font-family: "Raleway-Medium", Arial, sans-serif;
    font-weight: normal;
}

#news-list .name {
    font-family: "Raleway";
    font-weight: bold;
}

/* news detail */

#news {
    font-family: "Raleway-Medium", Arial, sans-serif;
    font-weight: normal;
}

#news > section {
    padding: 23px;
}

#news .name {
    margin-top: 25px;
    font-size: 17px;
    font-family: "Raleway";
    font-weight: bold;
    text-transform: none;
}

#news .description {
    font-size: 13px;
}

/* Styles for retina only */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 

    /*logo*/
    #logo-container > div {
        background-image: url("../img/logo@2x.gif");
        background-size: 63px 29px;
    }

    /* sprites, retina screen */
    .sprite {
        background-image: url("../img/sprite@2x.png");
        background-size: 313px 506px;
    }

}







