/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    margin:0px;
    padding:0px;
    /*text-transform:uppercase;*/
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


/* appli */

/* fonts */
@font-face {
    font-family: "Raleway";
    src: url("../font/Raleway-Regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("../font/Raleway-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "Raleway-SemiBold";
    src: url("../font/Raleway-SemiBold.otf");
    font-weight: normal;
}

@font-face {
    font-family: "Raleway-Medium";
    src: url("../font/Raleway-Medium.otf");
    font-weight: normal;
}


/*  Styles for all devices */

/* global styles */
body, html {
    background-color: #FFF;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 16px;
    color: #333;
    letter-spacing: -0.02em;
    font-weight: normal;
    overflow-x: hidden;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

h2 {
    margin: 0;
}

.clearfix {
    clear: both;
}

/* main app styles */

#app-content {
    width: 320px;
    /* offcanvas behavior */
    margin-left: 0;
    -webkit-transition: margin-left ease-out 500ms;
}

#app-nav {
    width: 250px;
    height: 462px;
    background-color: #6f655f;
    color: #FFF;
    /* offcanvas behavior */
    position: absolute;
    margin-left: 0;
    -webkit-transition: margin-left ease-out 500ms;
}

/* offcanvas behaviors */
#app-nav.off {
    margin-left: -250px;
}

#app-content.off {
    margin-left: 250px;
}

/* app-nav */
.tab {
    display: inline-block;
    width: 100%;
    height: 43px;
    margin-left: 17px;
    line-height: 43px;
}

.tab > svg {
    width: 21px;
    height: 21px;
    fill: #FFF;
    display: inline-block;
    vertical-align: middle;
}

.tab > span {
    font-size: 15px;
    color: #FFF;
    margin-left: 5px;
}

#app-nav h2 {
    font-size: 12px;
    padding: 0 8px;
    text-transform: uppercase;
    background-color: #4a413b;
    color: #a3a3a3;
}

/* icons size & position */

#app-nav .home > svg {
    position: relative;
    top: -3px;
    right: 1px;
}

#app-nav .clubs > svg {
    position: relative;
    right: 2px;
}

#app-nav .activities > svg {
    position: relative;
    right: 2px;
    top: -2px;
    width: 19px;
}

#app-nav .actualities > svg {
    position: relative;
    top: -1px;
    right: 6px;
    height: 31px;
    width: 30px;
}

#app-nav .subscriptions > svg {
    position: relative;
    top: -1px;
    width: 17px;
}

#app-nav .infos > svg {
    position: relative;
    right: 2px;
    top: -1px;
    width: 18px;
    height: 18px;
}


/* texts position */

#app-nav .activities > span {
    position: relative;
    right: -2px;
}

#app-nav .actualities > span {
    position: relative;
    right: 8px;
}

#app-nav .subscriptions > span {
    position: relative;
    right: -4px;
}


/* app-header */

#app-header {
    height: 35px;
    background-color: #FFF;
    padding-top: 8px;
}

#app-header > li {
    float: left;
}

#menu, #login {
    width: 9%;
}

#menu > a {
    position: relative;
    left: 16px;
}

#login > a {
    position: relative;
    right: 12px;
    top: 2px;
}

#menu svg, #login svg {
    fill: #333;
}

#menu svg {
    width: 26px;
    height: 27px;
}

#login svg {
    width: 22px;
    height: 22px;
}

#logo-container {
    width: 82%;
}

#logo-container > div {
    margin: 0 auto;
    width: 63px;
    height: 29px;
    background-image: url("../img/logo.gif");
}

/* home */
#app-footer {
    height: 55px;
    margin-top: -3px;
    background-color: #f5f5f5;
}

#app-footer > li {
    float: left;
    margin-top: 8px;
    width: 25%;
}

.home-button-wrapper {
    width: 50%;
    margin: 0 auto;
}

.home-button-wrapper > svg {
    display: block;
    width: 60%;
    height: 60%;
    margin: 0 auto;
    fill: #333;
}

.home-button-wrapper > h2 {
    margin: 4px 0;
    text-align: center;
    font-family: "Raleway-SemiBold", Arial, sans-serif;
    font-size: 9px;
    color: #333;
}

#search-label {
    position: relative;
    right: 5px;
}

#subscription-label {
    position: relative;
    right: 13px;
}

/* club */
#club-details {
    position: relative;
    height: 827px;
    background-image: url(../img/logo.png);
}

#club-details > ul {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 384px;
    background-color: rgba(255, 255, 255, 0.50)
}

#club-address > ul, #club-address > i, #club-openings > ul, #club-openings > i{
    display: inline-block;
}

.icon {
    display: inline-block;
    width: 64px;
    height: 60px;
    vertical-align: top;
    background-image: url(../img/logo.png);
}

.club-links {
    display: block;
}

.club-links > span {
    float: left;
}

.club-links > i {
    float: right;
}

/* search_club */

/* nav bar */
#search-club > nav {
    background-color: #fd671a;
    height: 40px;
    line-height: 40px;
}

#search-club .back {
    display: inline-block;
    width: 42px;
}

#search-club .back > svg {
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
    right: -12px;
    fill: #FFF;
}

#search-club .search-container {
    display: inline-block;
    position: relative;
}

#search-club .search {
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 1px;
    width: 22px;
    height: 29px;
}

#search-club .search > svg {
    width: 13px;
    height: 20px;
    padding-left: 4px;
    fill: #999;
}

#search-club .search-field {
    position: relative;
    width: 179px;
    height: 18px;
    padding: 0 12px 0 22px;
    top: -2px;
    font-size: 12px;
    font-family: "Raleway-Medium", Arial, sans-serif;
}

#search-club .search-field::-webkit-input-placeholder {
    color: #999;
}

#search-club .delete {
    position: absolute;
    z-index: 1;
    top: 1px;
    right: 2px;
}

#search-club .delete > svg {
    width: 12px;
    height: 12px;
    fill: #CCC;
}

#search-club .locate {
    display: inline-block;
    width: 45px;
}

#search-club .locate > svg {
    position: relative;
    width: 20px;
    height: 20px;
    top: 4px;
    left: 10px;
    fill: #FFF;
}

/* clubs list */
#search-club .club-item {
    border-top: 1px solid #a6a6a6;
}

#search-club .club-details, #search-club .club-schedule {
    display: inline-block;
    height: 60px;
    line-height: 60px;
}

#search-club .club-details {
    margin-left: 16px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

#search-club .club-schedule {
    width: 51px;
}

#search-club .type {
    color: #fd671a;
}

#search-club .distance {
    position: relative;
    top: -2px;
    margin-left: 61px;
    font-family: "Raleway-Medium", Arial, sans-serif;
    font-weight: normal;
    text-transform: lowercase;
}

#search-club .circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 3px;
    line-height: 30px;
    background-color: #fd671a;
    border-radius: 50%;
}

#search-club .circle > svg {
    position: relative;
    top: 4px;
    left: 4px;
    width: 21px;
    height: 21px;
    fill: #FFF;
}



/* Styles for retina only */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 

    #logo-container > div {
        background-image: url("../img/logo@2x.gif");
        background-size: 63px 29px;
    }

}







